body {
  background-color: lightblue;
}
#indexlogo {
  border-radius: 8px;
}
h1.index { text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 238, 27);
  font-size: 50px;
}
h2.index { text-align: left;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
div.index {
  text-align: left;
  font-size: 30px;
}
p.index { text-align: left;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
