body {
  background-color: blue;
  opacity: 0.3;
}
#indexlogo {
  border-radius: 8px;
}
h1.index { text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 238, 27);
  font-size: 50pt;
}
h2.index { text-align: left;
  color: rgb(0, 0, 0);
  font-size: 25pt;
}
div.index {
  text-align: right;
  font-size: 30px;
}
p.index { text-align: left;
  color: rgb(0, 0, 0);
  font-size: 15pt;
}
